
@{
    ViewBag.Title = "AllMessages";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model List<DTO.ContactDTO>
<section class="content-header">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Message</a></li>
        <li class="breadcrumb-item active"><a>All Messages</a></li>
    </ol>
    <button type="submit" class="btn btn-primary float-right" onclick="window.location.href='/Admin/Contact/UnreadMessages'">Uread Messages</button>
</section>
<br />
<br />
<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="text-align: center">Subject</th>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Email</th>
                    <th style="text-align: center">Message</th>
                    <th style="text-align: center">Add Date</th>
                    <th style="text-align: center">Read</th>
                    <th style="text-align: center">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr id="a_@item.ID">
                        <td align="center" valign="middle">@item.Subject</td>
                        <td align="center" valign="middle">@item.Name</td>
                        <td align="center" valign="middle">@item.Email</td>
                        <td align="center" valign="middle">@item.Message</td>
                        <td align="center" valign="middle">@item.AddDate.ToString("dd.MM.yyyy")</td>
                        @if (!item.isRead)
                        {
                            <td class="button-cell">
                                <div class="button-wrapper">
                                    <a href="/Admin/Contact/ReadMessages2/@item.ID">
                                        <img src="~/Areas/Admin/Icons/Read.png" />
                                    </a>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td align="center" valign="middle">Read</td>
                        }
                        <td class="button-cell">
                            <div class="button-wrapper">
                                <a href="#">
                                   <img src="~/Areas/Admin/Icons/delete.png" data-toggle="modal" data-target="#modalmessage" onclick="AskQuestion('/Admin/Contact/DeleteMessage/',@item.ID)" />
                                </a>
                            </div>
                    </td>

                    </tr>


                }
            </tbody>
            </table>
    </div>
    <!-- /.card-header -->

    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>




